/* Google font Poppins
====================== */
/* Global styles
================ */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
/* Color variables
=================== */
:root {
  --bg-color: #f4fafd;
  --bg-yellow: #fbbf24;
  --heading-one: #fff;
}

body {
  font-family: "Poppins", "Aerial", sans-serif;
}

/* Header section styles 
========================*/

/* Navigation styles */

/* Slider styles  */
.carousel-image-one {
  background-image: url("../images/cover/cover-1.png");
  height: 38rem;
  background-position: center;
  background-size: cover;
}
.carousel-image-two {
  background-image: url("../images/cover/cover-2.jpg");
  height: 38rem;
  background-position: center;
  background-size: cover;
}
.carousel-image-three {
  background-image: url("../images/cover/cover-3.jpg");
  height: 38rem;
  background-position: center;
  background-size: cover;
}

/* Main section styles
====================== */
.e-learning-institute {
  background-color: var(--bg-color);
}
.fa-star {
  color: var(--bg-yellow);
}
.button-slide-left {
  margin-left: -165px !important;
}

.button-slide-right {
  margin-right: -165px !important;
}
